.footer {
  padding: 40px 0;
  background: #101010;
  line-height: 1.4;
}

.footer__container {
  display: grid;
  gap: 36px;
  grid-template-areas: 
  "developers logo"
  "copyright logo";
}

.footer__developers {
  grid-area: developers;
}

.footer__link {
  margin-bottom: 8px;
}

.footer__link:hover {
  color: #ff521b;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__copyright {
  grid-area: copyright;
}

.footer__logo {
  width: 287px;
  grid-area: logo;
  justify-self: end;
  align-self: end;
}

@media(max-width: 900px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .footer__container {
    gap: 20px;
  }

  .footer__logo {
    width: 217px;
  }

  .footer__developers {
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 12px;
  }
}

@media(max-width: 620px) {
  .footer__container {
    grid-template-areas: 
    "logo"
    "developers"
    "copyright";
  }

  .footer__logo {
    justify-self: start;
    margin-bottom: 4px;
  }
}