.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.link-show-trailer {
  border-radius: 52px;
  background-color: #ff3d00;
  padding: 14px 20px 14px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
}

.link-show-trailer:hover {
  background-color: #FF521B;
}

.link-show-trailer:focus {
  background-color: #FF521B;
  border-color: #ffffff;
}

.header__link {
  display: block;
}

@media(max-width: 900px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__logo {
    width: 130px;
  }
}

@media(max-width: 620px) {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .header__logo {
    width: 80px;
  }

  .header__link {
    display: none;
  }

  .link-show-trailer {
    font-size: 12px;
    padding: 10px 16px;
  }
}